body {
    background-color: #d3d3d3;
}

.container {
    background-color: white;
    height: 500px;
    width: 50vw;
    border: solid black 10px;
    border-style: dotted;
    display: flex ;
    flex-direction: column;
    justify-content: center;
}

.son1 {
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.son2 {
    background-color: rgb(255, 140, 0);
    height: 100px;
    width: 30%;
}

.son3 {
    background-color: green;
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px;
}
