.pai{
    background-color:#9b795b;
    width: 600px; 
    height: 600px;
}

.filho{
    background-color: #c9dd55; 
    height: 30%; 
    width: 30%
}

p{
    color: rgb(0, 0, 0); 
    background-color: rgb(241, 116, 116); 
    font-size: 40px; 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bolder;
}

.segunda{
    width: 78%; 
    height: 65vh; 
    background-color: rgb(49, 83, 97);
}

.filhoSegunda{
    width: 68vh; 
    height: 55%; 
    background-color: rgb(47, 32, 131);
}