.container {
    width: 75%;
    height: 300px;
    border: solid black 13px;
    background-color: rgb(155, 77, 77);
    display: flex;
    justify-content: center;
}

.filho {
    height: 50%;
    width: 80%;
    background-color: white;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 13px darkblue;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.barra1 {
    background-color: blue;
    height: 20px;
    width: 70%;
    display: flex;
    margin-top: 5%;
    position: absolute;
    left: 15%;
}

.barra2 {
    background-color: purple;
    height: 20px;
    width: 35%;
    display: flex;
    margin-top: 6.35%;
    position: absolute;
    left: 33%;
}

.barra3 {
    background-color: green;
    height: 20px;
    width: 58%;
    display: flex;
    margin-top: 7.65%;
    position: absolute;
    left: 20%;
}

.barra4 {
    background-color: yellow;
    height: 20px;
    width: 45%;
    display: flex;
    margin-top: 8.95%;
    position: absolute;
    left: 27%;
}

.barra5 {
    background-color: red;
    height: 20px;
    width: 45%;
    display: flex;
    margin-top: 17%;
    float: left;
}

.barra6 {
    background-color: cornflowerblue;
    display: flex;
    margin-top: 17%;
    height: 20px;
    width: 20%;
    float: left;
}

.barra7 {
    background-color: lawngreen;
    display: flex;
    margin-top: 17%;
    height: 20px;
    width: 35%;
    float: left;
}