.div1 {
    background-color: rgb(172, 29, 172);
    height: 250px;
    width: 100%;
    justify-content: center;
}

.div2 {
    background-color: #ffc0cb;
    height: 100%;
    width: 250px;
    border: solid red 20px;
    border-style: groove;
    display: flex;
}

.div3 {
    background-color: #7fffd4;
    height: 88%;
    width: 30%;
    
}